.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 80px;
  padding: 20px;
}

.centerText {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 2.5rem;
}

.subtitle {
  color: #000;
  margin-bottom: 40px;
  font-weight: bold;
}
.carouselWrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
}

.carouselItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.textContainer {
  flex: 1;
  text-align: left;
  color: #000;
  max-width: 40%;
}

.productImage {
  flex: 0 0 50%;
  width: 50%;
  height: auto;
  object-fit: contain;
  max-height: 500px; /* Limita a altura da imagem */
}

/* Indicadores do Carrossel */
.carousel-indicators {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.carousel-indicators li {
  background-color: #444;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.carousel-indicators .active {
  background-color: #666;
  opacity: 1;
}

/* Setas de Navegação */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: #444;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

/* Posicionamento das Setas */
.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}